<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wushen.eduservice.mapper.EduCourseMapper">
    <select id="getCourseInfoById"   resultType="com.wushen.eduservice.entity.query.CoursePublishVo" >
        SELECT ec.id,ec.title,ec.cover,ec.price,ec.lesson_num AS lessonNum,et.`name`AS teacherName,
               es.title AS subjectLevelOne,est.title AS subjectLevelTwo
        FROM edu_course ec
        LEFT OUTER JOIN edu_course_description ecd  ON ec.id = ecd.id
        LEFT OUTER JOIN	edu_teacher et	ON ec.teacher_id =et.id
        LEFT OUTER JOIN edu_subject es  ON ec.subject_parent_id = es.id
        LEFT OUTER JOIN edu_subject est ON ec.subject_id = est.id
        WHERE ec.id	= #{courseId};
    </select>
</mapper>
